<section>
  <div class="login">

    <div class="login_section">
      <header>
        <h1>SIGN IN </h1>
      </header>

      <app-input
        [placeholder]="'Email'"
        [formControl]="control('login')"
      >
      </app-input>
      <app-input
        [placeholder]="'Password'"
        [formControl]="control('password')"
      >
      </app-input>
      <div class="error" *ngIf="loginForm.hasError('invalidUser')">
       <p>Invalid Email Or Password</p>
      </div>
      <div class="login_section_registration">
        <a [routerLink]="'/auth/registration'">sign up</a>
      </div>

      <app-button
        [label]="'Sign In'"
        [disabled]="false"
        (buttonClick)="loginUser()"
      ></app-button>
    </div>

  </div>
</section>



