<section>
  <div class="register">

    <div class="register_section">
      <header>
        <h1>SIGN UP</h1>
      </header>
      <div class="register_section_grid">
        <app-input
          [placeholder]="'Name'"
          [formControl]="control('name')"
          [error]="registerForm.getError('invalidUserName')"
        >
        </app-input>
        <app-input
          [placeholder]="'Surname'"
          [formControl]="control('surname')"
          [error]="registerForm.getError('invalidSurName')"
        >
        </app-input>

        <app-input-calendar
          [formControl]="control('birthOfDate') "
        ></app-input-calendar>

        <app-select
          [placeholder]="'Gender'"
          [isSearch]="false"
          [filteredOptions]="gender"
          [formControl]="control('gender')"
        >
        </app-select>

        <app-select
          [placeholder]="'Country'"
          [formControl]="control('country')"
          [filteredOptions]="countries$"
        >
        </app-select>

        <app-input
          [placeholder]="'Email'"
          [formControl]="control('email')"
          [error]="registerForm.getError('existUser')"
        >
        </app-input>
        <app-input
          [isPsw]="true"
          [type]="'password'"
          [placeholder]="'Password'"
          [formControl]="control('password')"
        >
        </app-input>
        <app-input
          [isPsw]="true"
          [type]="'password'"
          [placeholder]="'Re Password'"
          [formControl]="control('rePassword')"
          [error]="registerForm.getError('passwordMismatch')"
        >
        </app-input>
      </div>
      <div class="register_login">
        <a [routerLink]="'/auth/login'">sign in</a>
      </div>
      <app-button
        [label]="'Sign Up'"
        [disabled]="registerForm.invalid"
        (buttonClick)="registerUser()"
      ></app-button>
    </div>

  </div>
</section>




