<header class="header">

  @if (outletName !== namedOutlet.SEARCH) {
    <app-custom-search
      (findUserName)="openSearchPanel()"
      [formControl]="control(searchForm,'search')"
    >
    </app-custom-search>
  }

  <div class="header-global-feed">
    <app-global-feed
      [userInfo]="userItem"
      (click)="showFeed()"
    ></app-global-feed>
  </div>

  <div class="header-profile-side">
    <div class="header-profile-chat">
      <app-chat
        [userInfo]="userItem"
        [allUsersList]="allUser"
      ></app-chat>
    </div>
    <div class="header-profile-notification">
      <app-notification
        [userInfo]="userItem"
      ></app-notification>
    </div>
    <div class="header-profile-user">
      <app-user-profile
        [isShowName]="true"
      ></app-user-profile>
    </div>
  </div>

</header>
