<div class="custom_select">
  <div>
    <div class="custom_select_input">
      <input
        [(ngModel)]="selectValue"
        (ngModelChange)="onModelChange()"
        [placeholder]="placeholder"
        name="country">
      <div class="custom_select_input-arrow" #arrow>
        <mat-icon (click)="openSelect()" svgIcon="arrow"></mat-icon>
      </div>
    </div>
    <div class="custom_select_option"
         selectHeight
         [@toggleSelectOption]="selectState$ | async">
      <ul>
        @for (option of options | async | keyvalue; track option) {
          <option  [value]="option.value" (click)="selectedValue(option.value)">{{ option.value }}</option>
        }
      </ul>
    </div>
  </div>
</div>


