<div class="custom_select">
  <div>
    <div class="custom_select_input">
      @if (isSearch) {
        <input
          *ngIf="isSearch"
          [(ngModel)]="selectValue"
          (ngModelChange)="onModelChange()"
          [placeholder]="placeholder"
          name="country">
      } @else {
        <div class="custom_select-expectForSearch"
             placeholderDir
             [placeholderDirective]="selectValue?.length ? '' : placeholder"
        >
           <p name="country">{{ selectValue }}</p>
        </div>
      }
      <div class="custom_select_input-arrow" #arrow>
        <mat-icon (click)="openSelect()" svgIcon="arrow"></mat-icon>
      </div>
    </div>
    <div class="custom_select_option"
         selectHeight
         [@toggleSelectOption]="selectState$ | async">
      <ul>
        @for (option of options | async | keyvalue; track option) {
          <option [value]="option.value" (click)="selectedValue(option.value)">{{ option.value }}</option>
        }
      </ul>
    </div>
  </div>
</div>


