@import "../../style/all";

.input-calendar {

  &-block {
    position: relative;

    input {
      @include input;
    }

    &-svg {
      position: absolute;
      width: 8%;
      height: 100%;
      top: 0;
      right: 0;
    }

  }

  &_window {
    position: relative;

    &-show {
      color: white;
      position: absolute;
      z-index: 999;
      background-color: black;
    }

  }
}
