<div class="input-calendar">
  <div class="input-calendar-block">
    <input
      dateMask
      [ngModel]="inputValue | dateFormat"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="onModelChange($event)"
    >
    <div class="input-calendar-block-svg"
         (click)="toggleCalendarWindow()">
      <img ngSrc="../../../assets/svg/calendar.svg" fill>
    </div>
  </div>
  <div class="input-calendar_window">
    <div class="input-calendar_window-show" [@toggleCalendar]="calendarState$ | async">
      <app-input-calendar-window></app-input-calendar-window>
    </div>
  </div>
</div>
