@import "../style/variable";

.custom-field {
  max-width: 400px;
  margin: 0 auto;
  font-family: cursive;
  color: white;


  &_input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F3EAD2;
    outline: none;
    //margin-bottom: 10px;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 300px;
  }
}

