<div class="calendar-window">
  <div class="calendar-window__wrapper">
    <div class="calendar-window__wrapper-yearAndMonth">
      <div class="calendar-window__wrapper-yearAndMonth_years">
        <div class="calendar-window__wrapper-yearAndMonth_leftArrow">
          <mat-icon  (click)="prevYear()"
                     svgIcon="left"></mat-icon>
        </div>
        <p (click)="openYears()">{{ year }}</p>
        <div class="calendar-window__wrapper-yearAndMonth_leftArrow">
          <mat-icon (click)="nextYear()"
                    svgIcon="right"></mat-icon>
        </div>
      </div>

      <div class="calendar-window__wrapper-yearAndMonth_month">
        <div class="calendar-window__wrapper-yearAndMonth_leftArrow">
          <mat-icon (click)="prevMonth()"
                    svgIcon="left"></mat-icon>
        </div>
        <p (click)="openMonth()">{{ changeMonthToLocaleDateString(month) }}</p>
        <div class="calendar-window__wrapper-yearAndMonth_leftArrow">
          <mat-icon (click)="nextMonth()"
                    svgIcon="right"></mat-icon>
        </div>
      </div>

    </div>

    @if (!isYears && !isMonth) {
      <div class="calendar-window__wrapper_weeks">
        @for (calendar of calendar | async; track calendar) {
          @for (keyValue of calendar | keyvalue; track keyValue) {
            <div>
              <div class="calendar-window__wrapper_weeks_day">{{ keyValue.key }}</div>
              <div class="calendar-window__wrapper_days">
                @for (val of keyValue.value; track val) {
                  <p>{{ val }}</p>
                }
              </div>
            </div>
          }
        }
      </div>
    } @else if (isYears && !isMonth) {
      <div class="calendar-window__wrapper_allYears">
        @for (year of allYearsList; track year) {
          <b class="calendar-window__wrapper_allYears_item"
             (click)="chooseYear(year)"
          >{{ year }}</b>
        }
      </div>
    } @else if (isMonth && !isYears) {
      <div class="calendar-window__wrapper_allMonth">
        @for (month of allMonthsList; track month; let i = $index) {
          <b class="calendar-window__wrapper_allMonth_item"
             (click)="chooseMonth(i)"
          >{{ month }}</b>
        }
      </div>
    }

  </div>
</div>
